//Anyone placed above ovewrites the rest.

//MIXINGS : Always place at the top of the component used in
@import "abstract/mixins";
//MIXINGS END

@import "base/animations";
@import "base/utilities";
@import "abstract/variables";
@import "components/button";
@import "pages/home";

///COMPONENTS END
@import "components/cards";
@import "components/composition";

@import "components/navigation";
@import "components/feature-box";

@import "components/navbar-secondary";
@import "components/navbar-secondary2";
@import "components/navbar2";
@import "components/autograph-collection";
@import "components/logo_footer";
@import "components/heroline";
///COMPONENTS END
@import "base/base";
@import "base/typography";
@import "components/logo2";
//LAYOUT
@import "layout/header";
@import "layout/header2";
@import "layout/footer";
@import "layout/grid";

//LAYOUT END

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;

	&--green {
		color: green;
		font-size: 10em;
	}
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
