.card {
	height: 52rem;
	position: relative;
	transition: all 0.8s ease;
	perspective: 150rem;
	-moz-perspective: 150rem;
	transition: all ease-in;

	@media (max-width: 900px) {
		margin-bottom: 12.2rem;
		margin-left: -17vh;
	}

	@media (max-width: 414px) {
		margin-bottom: 12.2rem;
		margin-left: -15vh;
	}

	@media (max-width: 320px) {
		margin-bottom: 12.2rem;
		margin-left: -13vh;
	}

	&__side {
		width: 100%;
		height: 52rem;
		transition: all 0.8s;
		font-size: 2rem;
		position: absolute;
		top: 0;
		left: 0;
		backface-visibility: hidden;
		border-radius: 3px;
		box-shadow: 0 1rem 2rem rgba(#000, 0.5);
		overflow: hidden;
		border: 0.4px solid rgba(0, 0, 0, 0.575);

		&--front {
			background-color: white;
		}
		&--back {
			background-color: gray;
			transform: rotateY(180deg);
			&-1 {
				background-image: linear-gradient(to right bottom, #ff9662, #000);
			}
		}
	}

	&:hover &__side--front {
		transform: rotateY(-180deg);
		// @include respond(tab-port) {
		// 	transform: rotateY(0deg);
		// }
	}
	&:hover &__side--back {
		transform: rotateY(0);
	}

	//FRONTSIDE STYLING
	&__picture {
		background-size: cover;
		height: 23rem;
		width: 100%;
		background-blend-mode: screen;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;

		//First picture alone
		&--1 {
			background-image: linear-gradient(to right bottom, #000, #000),
				url(./../../img/nat-5.jpg);
		}
	}

	&__heading {
		font-size: 2.8rem;
		font-weight: 300;
		text-transform: uppercase;
		color: #fff;
		position: absolute;
		top: 12rem;
		right: 2rem;
		text-align: right;
		width: 75%s;

		&-span {
			padding: 1rem 1.5rem;
			&--1 {
				background-image: linear-gradient(
					to right bottom,
					rgba(rgb(216, 216, 216), 0.85),
					rgba(rgb(85, 85, 85), 0.85)
				);
			}
		}
	}
	&__details {
		padding: 3rem;

		ul {
			list-style: none;
			width: 80%;
			margin: 0 auto;
			li {
				text-align: center;
				font-size: 1.5rem;
				padding: 1rem;
				border-bottom: 1px solid #eee;
			}
			&:not(:last-child) {
				border-bottom: 1px solid #eee;
			}
		}
	}
	&__cta {
		position: absolute;
		width: 90%;
		top: 50%;
		text-align: center;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 7rem 2rem 5rem 2rem;

		&__price-box {
			text-align: center;
			margin-bottom: 8rem;
			color: #fff;
		}

		&__price-only {
			font-size: 1.4rem;
			text-transform: uppercase;
		}

		&__price-value {
			font-size: 6rem;
			font-weight: 100;
		}
	}
}
