.logo--footer {
	height: 12vh;
	width: 29vh;
	background: #fff;
	margin-left: 0vh;

	@media (max-width: 700px) {
		height: 20vh;
		width: 20vh;
	}
	&__text {
		font-size: 2rem;
		text-decoration: none;
		text-transform: uppercase;
		color: rgb(0, 0, 0);
		font-weight: 600;
		padding-top: 2.3rem;
		font-family: Arial, Helvetica, sans-serif;
		//font-family: BrandLogoIcons;
		-webkit-font-smoothing: antialiased;
		letter-spacing: 0.9rem;
		position: relative;
		display: inline-block;
		font-stretch: expanded;
		transform: scaleY(1.3);
		line-height: 1.1;

		&--word {
			font-size: 1.5rem;
			letter-spacing: 0.2rem;
			font-stretch: expanded;
			transform: scaleY(1.1);
			display: block;

			&::after {
				content: "";
				height: 3px;
				width: 11%;
				position: absolute;
				left: 68%;
				// left: calc(50% -40%);
				bottom: -105%;
				background: #ff9662;
			}

			&__1 {
				font-size: 2rem;
				border-bottom: 3px solid rgb(128, 0, 38);
				margin-top: -5rem;
				padding: -20px;
			}
			&__2 {
				font-size: 0.8rem;
				position: absolute;
			}
		}
	}
}
