.header2 {
	&__logo-box {
		// position: absolute;
		// top: 4rem;
		// left: 4rem;
	}
	&__logo-2 {
		height: 5.5vw;
		width: 15vw;
		margin-left: 1.8vw;
		margin-right: 6vw;
		margin-top: 3.5vh;
		@media (max-width: 641px) {
			margin-left: 2.8vw;
			margin-right: 4vw;
		}
	}
	&__logo:hover {
		animation: moveInLeft 1s ease-in;
	}
}
