.navbar_secondary {
	display: flex;
	position: absolute;
	font-size: 2rem;
	height: 4vh;
	padding: 0.2rem;
	left: 70%;

	&--item-1 {
		justify-content: flex-end;
		padding: 1.2rem;

		&__first {
			display: flex;
			justify-content: space-around;

			&:hover {
				background: rgb(231, 231, 231);
				cursor: pointer;
			}

			&--image {
				margin-right: 0.5rem;

				@media (max-width: 1200px) {
					margin-top: 6vh;
					margin-right: 3vw;
				}

				@media (max-width: 780px) {
					margin-top: 6vh;
					margin-right: 3vw;
				}

				@media (max-width: 680px) {
					margin-top: 6vh;
					margin-right: 3vw;
				}
			}
			&--text {
				font-size: 1.3rem;
				font-weight: 100;
				letter-spacing: 1;
				font-family: proxima-nova, Helvetica, Arial, sans-serif;
				color: black;

				@media (max-width: 1024px) {
					font-size: 1rem;
					font-weight: 500;
				}

				@media (max-width: 780px) {
					display: none;
				}
			}
			&--globe {
				width: 17.5px;
				padding-top: -1vh;
				color: rgba(0, 0, 0, 0.678);
			}
			&--user {
				width: 17.5px;
				padding-top: -1vh;
				color: rgba(0, 0, 0, 0.678);
			}
			&--help {
				width: 17.5px;
				padding-top: -1vh;
				color: rgba(0, 0, 0, 0.678);
			}
			&--trip {
				width: 17.5px;
				color: rgba(0, 0, 0, 0.678);
				padding-top: -1vh;
			}
		}
	}
}
