.navbar {
	height: 20vh;
	background-color: #fff;
	border-top: 6px solid #231c19;
	width: 100%;
	display: flex;
	position: fixed;
	box-shadow: 0 1.5rem 4rem rgba($color: #cecece, $alpha: 0.1);
	z-index: 1500;
	@media (max-width: 1195px) {
		height: 16.5vh;
	}

	@media (max-width: 768px) {
		height: 7.1vh;
		z-index: 3;
		border-top: 6px solid #231c19;
		box-shadow: 0 1.5rem 4rem rgba($color: #cecece, $alpha: 0.1);

		// position: absolute;
		// z-index: 99999999999999999999;
	}

	&__ul {
		display: flex;
		text-decoration: none;

		@media (max-width: 768px) {
			display: none;
		}

		margin-top: 10vh;
		&--li {
			margin-left: 1.1vw;
			font-size: 1.48rem;
			text-decoration: none;
			list-style: none;
			padding: 0.8rem;
			padding-bottom: 5px;
			font-weight: 700;
			color: #1c1c1c;

			font-family: proxima-nova, Helvetica, Arial, sans-serif;
			line-height: normal;
			&:hover {
				border-bottom: 2px solid #1c1c1c;
			}
		}
	}
}
