.story {
	width: 75%;
	box-shadow: 0 3rem 6rem $box-shadow-primary;
	margin: 0 auto;
	background-color: rgba(128, 128, 128, 0.342);
	border-radius: 3px;
	padding: 6rem;
	padding-left: 9rem;
	font-size: $default-font-size;
	transform: skewX(-12deg);
	position: relative;

	@include respond(tab-port) {
		width: 100%;
		padding: 4rem;
		padding-left: 7rem;
		transform: skewX(0);
	}

	&__shape {
		width: 15rem;
		height: 15rem;
		float: left;
		background-color: orangered;
		-webkit-shape-outside: circle(50% at 50% 50%);
		shape-outside: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		//moving the picture to the left and top
		transform: translate(-3rem, -5rem);
		position: relative;
		// transform: skewX(12deg);
		margin-top: 3rem;

		@include respond(tab-port) {
			margin-top: 3.3rem;
			padding-right: 3rem;
		}
	}

	&__img {
		height: 100%;
		//-4rem means move to the left
		transform: translateX(-4rem) scale(1);
	}

	&__text {
		transform: skewX(12deg);
		font-size: 1.7rem;
		padding-left: 18rem;

		@include respond(tab-port) {
			padding-left: 15rem;
			transform: skewX(0);
		}
	}

	&__caption {
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 20%);
		text-align: center;
		color: $color-primary-white;
		text-transform: uppercase;
		transition: all 0.5s;
		font-size: 1.7rem;
		//backface-visibility is used to hide animation glitches
		backface-visibility: hidden;
	}
	//when you hover, this is what i want only the caption element to do..
	&:hover &__caption {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
	&:hover &__img {
		transform: translateX(-4rem) scale(1);
		filter: blur(3px) brightness(80%);
	}
}
