header {
	height: 90vh;
	position: relative;
	background-image: url(./../../img/pscore.jpg);
	background-size: cover;
	background-position: top;
	z-index: -2;

	//reducing the clip-path]
	//Transforming the columns to 100% width on tablet portrait
	// @include respond(phone) {
	// 	clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
	// 	-webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
	// }

	//This would work on 600px screen and above
	@media (min-resolution: 192dpi) and (min-width: 37.5em) {
		background-image: url(./../../img/hero.jpg);
	}

	//header is OUTDOORS and the button being
	.header {
		&__text-box {
			position: absolute;
			top: 54%;
			left: 10%;
			transform: translate(-50%, -50%);
			text-align: left;
			margin-left: -5vw;

			@media (max-width: 1519px) {
				left: 34%;
			}

			@media (max-width: 1425px) {
				left: 36%;
			}

			@media (max-width: 700px) {
				left: 50%;
			}
		}
		&__logo-box {
			position: absolute;
			top: 4rem;
			left: 4rem;
		}
		&__logo {
			height: 3.5rem;
		}
		&__logo:hover {
			animation: moveInLeft 1s ease-in;
		}
	}
}
